[user]
name = Scott Francis
email = scott@planetscott.ca

[color]
ui = true
grep = auto

[core]
excludesFile=~/.global_gitignore
	commitGraph = true

[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
default = nothing
	followTags = true

[grep]
lineNumber = true
patternType = perl

[include]
  path = ~/.gitconfig.local
[diff]
	algorithm = patience
[protocol]
	version = 2
[gc]
	writeCommitGraph = true
[credential]
	helper = store --file /opt/dev/var/private/git_credential_store
[commit]
	gpgsign = true
